.flex {
  display: flex;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.grid {
  display: grid;
}
.justify-end {
  justify-content: end;
}
.items-end {
  align-items: end;
}
.gap-1 {
  gap: 1rem;
}
.flex-15 {
  flex-basis: 15rem;
}
.w-15 {
  width: 15rem;
}
.rounded {
  border-radius: 7.5rem;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.item-active {
  background-color: cornflowerblue;
  color: white !important;
}
.item-pending {
  background-color: darkgrey;
}
.text-decoration-none {
  text-decoration: none;
}
.block {
  display: block;
}
.p-1 {
  padding: 1rem;
}
.px-1 {
  padding: 0 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.color-black {
  color: black;
}
